body{
    background-color:#0F172A;
    color: #ceddf2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main{
    flex:1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 10px 30px;
}
nav ul li:hover{
    background-color: black;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo span{
    font-family: monospace;
    font-weight: bold;
}
.logo img:hover{
    background-color: black;
}

.logo span:hover{
    background-color: black;
}
ul{
    list-style-type:none;
    margin:0 auto 0 auto;
    padding: 0;
    display:flex;
    background-color: #333333;
    justify-content: center;
 
}



ul li a{
    display:flex;
    color:white;
    text-align:center;
  
    padding: 16px 14px;
 
    text-decoration: none;
}

.box{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.cont{
    display: flex;
    flex-direction:column;
    
    width: 200px;
    height: 200px;
    margin:10px auto;
    padding:20px;
    border: 5px solid #ceddf2;
    font-family: monospace;
    text-align: center;
    border-radius: 10px;
    

}

.hero{
    
    font-family: monospace;
    
}
.list{
    display: list-item;
    list-style: disc;
    background-color:#0F172A ;
    
}

footer {
      
      color: #fff;
      padding: 20px;
      text-align: center;
      margin-top: auto;
    }
