ul{
    list-style-type:none;
    margin:0;
    padding: 0;
    display:flex;
    background-color: #333333;
    justify-content: center;
  


}



ul li a{
    display:flex;
    color:white;
    text-align:center;
  
    padding: 16px 14px;
 
    text-decoration: none;
}

.cont{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin:10px auto;
    padding:20px;
    border: 1px solid black;
    font-family: monospace;
    text-align: center;
    

}

